body{
    background-color:#add8e6;
}

#paragraph2{
    background-color: white;
    width: 850px;
    border: 5px solid green;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 15px;
    line-height: 30px;
}

h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 65px;
}

h2{
    font-family: sans-serif;
    font-size: 32px;
}

h3{
    font-size: 21px;
}

.blue{
    background-color: navy;
    color: white;
    padding: 20px;
}

ol{
    list-style: decimal-leading-zero;
}

li a{
    color:blue;
}

p a {
    color:rgb(156, 13, 13);
}

table, th,td{
    border-collapse: collapse;
    border: black solid;
    border-width: 1px;
    
}

th{
    background-color: rgb(211,211,211);
}

td{
    background-color: white;padding: 10px;
}